// Copyright (C) 2012 Orbeon, Inc.
//
// This program is free software; you can redistribute it and/or modify it under the terms of the
// GNU Lesser General Public License as published by the Free Software Foundation; either version
// 2.1 of the License, or (at your option) any later version.
//
// This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
// without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
// See the GNU Lesser General Public License for more details.
//
// The full text of the license is available at http://www.gnu.org/copyleft/lesser.html

@import (reference) "../../../../../../../bootstrap-src/less/variables";
@import (reference) "../../../../../../../bootstrap-src/less/mixins";
@import (reference) "form-runner-common";

body.orbeon { background-color: @frBackground }

// Reset Liferay styles which impact ours
// See https://github.com/orbeon/orbeon-forms/issues/2728
// 2017-06-09: We had `.aui .orbeon` but it seems like with Liferay 7/DXP at least, the `.aui` class is not present.
.orbeon-portlet-div {

    color: @textColor;
    font-size: @frFontSize;
    line-height: @baseLineHeight;

    // Remove icons as content
    [class |= icon]:before {
        content: "";
    }

    .nav > li > span {
        padding: 0;
    }

    .checkbox input[type="checkbox"],
        .checkbox-inline input[type="checkbox"],
        .radio input[type="radio"],
        .radio-inline input[type="radio"] {
        transform: none;
    }

    #xforms-form { // id because Liferay uses an id too

        .row {
            margin-left: -20px;
            margin-right: -20px;

            [class *= span] {
                min-height: 1px;   // don't allow tall empty rows
                margin-left: 20px; // restore for Liferay 6.2
            }

            // See https://github.com/orbeon/orbeon-forms/issues/3251
            @media(max-width: 980px) {
                margin-left: 0;
                margin-right: 0;

                .span12 {
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }

        .container,
            .input-append .add-on,
            .input-prepend .add-on {
            box-sizing: content-box; // Bootstrap 2 default (Liferay uses Bootstrap 3 which changes that)
        }
    }

    .radio, .checkbox {
        margin-top: 0;
        display: inline;
    }

    .checkbox input[type = checkbox], .radio input[type = radio] {
        position: static;
    }

    label, .xforms-label {
        color: @textColor;
    }

    .table {
        &> thead, &> tbody, &> tfoot {
            &> tr {
                &> td:first-child {
                    padding-left: 5px;
                }
            }
        }
    }

    .table-bordered {
        &> thead, &> tbody, &> tfoot {
            &> tr {
                &> th, &> td {
                    border-bottom: none;
                    border-right: none;
                }
            }
        }
    }

    @media(min-width: 980px) {
        // Not sure we need this rule anymore, seems fine with Liferay 7/DXP
        // 2017-06-15: Seems needed for Liferay 6.2.
        .row .span12 {
            width: 940px;
        }
    }

    .navbar-inverse {
        border: none;
        background-color: transparent;
    }
}

// See https://github.com/orbeon/orbeon-forms/issues/3251
@media (max-width: 980px) {
    #content {
        .orbeon-portlet-div {
            .row {
                margin-left: 0;
                margin-right: 0;
            }
            .span12 {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
}

.orbeon {

    // ***** Controls***************************************************************************************************

    // Copied over Bootstrap styles as we can't reuse them simply as mixins
    // Ideally this would be in box-select.less
    .fr-view .xbl-fr-box-select .xforms-select-appearance-full .xforms-items {
        .border-radius(@inputBorderRadius);
        background-color: @inputBackground;
        border: 1px solid @inputBorder;
        .box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
        padding: 4px 6px;
        &:focus {
            border-color: rgba(82, 168, 236, .8);
            outline: 0;
            outline: thin dotted  \9; // IE6-9
            .box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6)");
        }
    }

    // ***** Other *****************************************************************************************************

    .fr-lease {
        .fa-lock {
            font-size: 3em;
            float: left;
            padding-right: 20px;
            padding-left: 10px;
            padding-bottom: 10px;
         }
         .fr-lease-buttons {
            padding-top: 10px;
            .xforms-trigger {
                padding-right: 10px;
            }
         }
    }

    .fr-orbeon-version {
        text-align: center;
        font-size: smaller;
        padding: 10px;
        color: #6E6E6E;
    }

    .fr-explanation .xforms-output {
        display: block;
        font-style: italic;
        padding: 1em;
        background-color: #f8f8f8
    }

    .xforms-alert.xforms-active {
        font-size: 13px;
        .border-radius(3px);
    }

    .xforms-invalid > .xforms-alert.xforms-active, .xforms-alert.xforms-active.xforms-invalid {
        color: @error;
    }

    .xforms-warning > .xforms-alert.xforms-active, .xforms-alert.xforms-active.xforms-warning {
        color: @warning;
    }

    .xforms-info > .xforms-alert.xforms-active, .xforms-alert.xforms-active.xforms-info {
        color: @info;
    }

    .xforms-hint {
        font-size: smaller;
        color: #6E6E6E;
        margin-top: .2em;
        margin-left: 0;// used to have margin here but with new colors no margin seems better
    }

    // Navbar
    .navbar {
        .fr-language-choice .fr-link-select1, .fr-goto-content {
            color: @navbarLinkColorActive;
            font-size: 85%;
            text-align: right;
            a, button.btn-link { color: @navbarLinkColor }
        }

        .fr-language-choice, .fr-status-icons {
            float: right;
        }

        .fr-goto-content {
            float: left;
        }

        &.navbar-inverse {
            .fr-language-choice .fr-link-select1, .fr-goto-content {
                color: @frNavBarTextColor;
                a, button.btn-link { color: @navbarInverseLinkColor }
            }
        }

        .fr-language-choice .dropdown-menu {
            min-width: 0;
        }
    }

    // Add a star before the label of required fields, but only in new/edit modes
    // NOTE: Also cover Form Builder classes here instead of form-builder.css, so we don't miss changes done here
    .fr-mode-new, .fr-mode-edit, .fr-mode-test, .xforms-dialog {
        .xforms-required {
            &.xforms-label, .xforms-label {
                &:before {
                    content: '* ';
                    vertical-align: middle;                   // So the star doesn't show too high relative to the text of the label
                    font-size: 150%;                          // Default size isn't visible enough
                }
            }
        }

        .xforms-required.xforms-empty {
            .xforms-label:before {
                color: @error;                            // Error-red when empty
            }
        }
    }

    // Upload control information
    .xforms-upload-info { background-color: transparent }

    // Table of contents
    .fr-toc a { text-decoration: none }

    // Add background to static read-only fields and special output fields
    .xforms-static, .fr-static { min-height: 1em }

    .fr-mode-view, .fr-mode-pdf, .fr-mode-email {

        .xforms-static > label {
            cursor: default;
        }

        .xforms-select-appearance-full, .xforms-select1-appearance-full, .xforms-input.xforms-type-boolean {
            &.xforms-static {
                .xforms-selected, .xforms-deselected {
                    min-height: @baseLineHeight;
                    background-size: 14px;
                    background-repeat: no-repeat;
                    background-position: 0 3px;
                    cursor: not-allowed;

                    label {
                        cursor: not-allowed;
                    }
                }
                .xforms-selected {
                    background-image: url("images/glyphicons/checkbox-selected.png");
                }
                .xforms-deselected {
                    background-image: url("images/glyphicons/checkbox-deselected.png");
                }
            }
        }

        .xbl-fr-box-select .xforms-static.xforms-select-appearance-full .xforms-items {
            border: none;
            height: auto; // https://github.com/orbeon/orbeon-forms/issues/1597
            overflow-y: visible; // shouldn't overflow with above height: auto
            .box-shadow(none);
            padding: 0;
        }
    }
}

// ***** Retina displays ***********************************************************************************************

@media only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (min--moz-device-pixel-ratio: 2),
       only screen and (min-resolution: 2dppx),
       only screen and (min-resolution: 192dpi) {
    .orbeon {
        .fr-mode-view, .fr-mode-pdf, .fr-mode-email {
            .xforms-select-appearance-full, .xforms-select1-appearance-full, .xforms-input.xforms-type-boolean {
                &.xforms-static {
                    .xforms-selected {
                        background-image: url("images/glyphicons/checkbox-selected-2x.png");
                    }
                    .xforms-deselected {
                        background-image: url("images/glyphicons/checkbox-deselected-2x.png");
                    }
                }
            }
        }
    }
}

// ***** Print and PDF *************************************************************************************************

@media print {

    html {
        &, body.orbeon { background-color: white; background-image: none }
        font-family: @baseFontFamily;
        body.orbeon { padding-top: 0 } // no need for padding because navbar is position: static
    }

    .orbeon {

        .fr-mode-view, .fr-mode-pdf, .fr-mode-email {
            .xforms-select-appearance-full, .xforms-select1-appearance-full, .xforms-input.xforms-type-boolean {
                &.xforms-static {
                    // NOTE: The !important seems needed with Flying Saucer, who knows why.
                    .xforms-selected, .xforms-deselected {
                        background-size: 14px;
                        background-repeat: no-repeat !important;
                        background-position: 0 3px !important;
                    }

                    .xforms-selected {
                        background-image: url("images/glyphicons/checkbox-selected-hd.png") !important;
                    }
                    .xforms-deselected {
                        background-image: url("images/glyphicons/checkbox-deselected-hd.png") !important;
                    }
                }
            }
        }

        // All regular links with href
        a[href] {
            text-decoration: underline;
            &:link, &:visited {
                color: @linkColor !important;
            }
        }

        // In particular section titles have hyperlinks like this
        a[href="#"] {
            text-decoration: none;
            &:link, &:visited {
                color: @textColor !important;
            }
        }

        a, button.btn-link { color: black; text-decoration: none }

        .container {
            width: 100%;
        }

        .fr-body {
            border: none;
            .box-shadow(0 1px 3px rgba(0,0,0,.055));
        }

        // Navbar
        .navbar {
            position: static; // override Bootstrap otherwise navbar appears on all pages

            .navbar-inner {
                background-color: white;
                border-bottom: 1px solid darken(@wellBackground, 7%);
                padding-left: 0;

                .container h1 {
                    font-size: 24px;
                    color: black;
                }

                .fr-language-choice {
                    display: none;
                }

                .brand {
                    color: @frHeaderColor;
                    font-size: 25px;
                }
            }
        }

        .fr-form-description {
            display: none;
        }
    }
}
